In [34]:
import pandas as pd
import numpy as np

In [2]:
wa_cpa = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/Washington_state_cpas/Data/Washington_State_Certified_Public_Accountants_20231105.csv')

# Load data

In [3]:
wa_cpa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45604 entries, 0 to 45603
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           45603 non-null  object
 1   Middle Name          31318 non-null  object
 2   Last Name            45604 non-null  object
 3   Suffix               643 non-null    object
 4   City                 44961 non-null  object
 5   State                36211 non-null  object
 6   Country              45604 non-null  object
 7   License Number       45604 non-null  object
 8   Original Issue Date  45604 non-null  object
 9   Expiration Date      44180 non-null  object
 10  Status               45604 non-null  object
 11  Last Updated         0 non-null      float64
 12  Board Order          73 non-null     object
dtypes: float64(1), object(12)
memory usage: 4.5+ MB

In [4]:
wa_cpa.head()

,First Name,Middle Name,Last Name,Suffix,City,State,Country,License Number,Original Issue Date,Expiration Date,Status,Last Updated,Board Order
0,Patricia,B,Shepard,NaN,MOUNTLAKE TERRACE,WA,United States,09049,10/28/1983,06/30/1989,Lapsed Licensee,NaN,NaN
1,Susan,L.,Shephard,NaN,SNOHOMISH,WA,United States,08741,06/24/1983,06/30/2004,Lapsed Certificateholder,NaN,NaN
2,Benjamin,L.,Sherrill,NaN,FEDERAL WAY,WA,United States,43665,12/18/1953,06/30/2001,Lapsed Certificateholder,NaN,NaN
3,Gary,J.,Shilling,NaN,FEDERAL WAY,WA,United States,47062,09/08/1977,06/30/2003,Retired Certificate holder,NaN,NaN
4,Clint,S.,Shinkle,NaN,SEABECK,WA,United States,09928,02/22/1985,06/30/2012,Lapsed Certificateholder,NaN,NaN

In [5]:
wa_cpa.tail()

,First Name,Middle Name,Last Name,Suffix,City,State,Country,License Number,Original Issue Date,Expiration Date,Status,Last Updated,Board Order
45599,Albert,M.,Carder,NaN,GEARHART,OR,United States,05014,04/21/1977,06/30/2007,Retired Licensee,NaN,NaN
45600,Daryl,W,Care,NaN,BELLEVUE,WA,United States,45917,04/18/1974,06/30/1988,Lapsed Licensee,NaN,NaN
45601,James,A.,Carey,NaN,SEATTLE,WA,United States,44745,10/18/1968,06/30/2003,Lapsed Certificateholder,NaN,NaN
45602,Douglas,P.,Carlisle,NaN,SANDY,UT,United States,48053,09/14/1979,06/30/1998,Lapsed Licensee,NaN,NaN
45603,Michael,S,Quam,NaN,SEATTLE,WA,United States,04172,09/20/1974,NaN,Lapsed Licensee,NaN,NaN

# Clean Up & EDA

In [6]:
wa_cpa = wa_cpa.set_index('License Number')

In [7]:
wa_cpa = wa_cpa.drop(columns = ['Last Updated'])

In [8]:
wa_cpa = wa_cpa.drop(columns = ['Middle Name'])

In [9]:
wa_cpa['Suffix'].value_counts()

Jr.     388
III     102
Jr       65
II       54
Sr.      11
IV       10
Mr.       3
Mr        2
Sr        1
JR        1
PhD       1
Ms        1
CPA       1
R         1
Ph.D      1
Ms.       1
Name: Suffix, dtype: int64

In [10]:
wa_cpa = wa_cpa.drop(columns = ['Suffix'])

In [11]:
wa_cpa

,First Name,Last Name,City,State,Country,Original Issue Date,Expiration Date,Status,Board Order
License Number,,,,,,,,,
09049,Patricia,Shepard,MOUNTLAKE TERRACE,WA,United States,10/28/1983,06/30/1989,Lapsed Licensee,NaN
08741,Susan,Shephard,SNOHOMISH,WA,United States,06/24/1983,06/30/2004,Lapsed Certificateholder,NaN
43665,Benjamin,Sherrill,FEDERAL WAY,WA,United States,12/18/1953,06/30/2001,Lapsed Certificateholder,NaN
47062,Gary,Shilling,FEDERAL WAY,WA,United States,09/08/1977,06/30/2003,Retired Certificate holder,NaN
09928,Clint,Shinkle,SEABECK,WA,United States,02/22/1985,06/30/2012,Lapsed Certificateholder,NaN
...,...,...,...,...,...,...,...,...,...
05014,Albert,Carder,GEARHART,OR,United States,04/21/1977,06/30/2007,Retired Licensee,NaN
45917,Daryl,Care,BELLEVUE,WA,United States,04/18/1974,06/30/1988,Lapsed Licensee,NaN
44745,James,Carey,SEATTLE,WA,United States,10/18/1968,06/30/2003,Lapsed Certificateholder,NaN
48053,Douglas,Carlisle,SANDY,UT,United States,09/14/1979,06/30/1998,Lapsed Licensee,NaN
04172,Michael,Quam,SEATTLE,WA,United States,09/20/1974,NaN,Lapsed Licensee,NaN

In [12]:
wa_cpa['State'].value_counts()

WA        25997
CA         2364
OR         1258
TX          659
ID          538
          ...
AP-FPO        1
AP-APO        1
AE-FPO        1
MP            1
AA            1
Name: State, Length: 69, dtype: int64

In [13]:
wa_cpa['State'].unique()

array(['WA', 'AK', 'MT', 'CA', 'OR', 'AZ', 'AL', nan, 'IN', 'FL', 'MD',
       'IL', 'TN', 'CO', 'ID', 'DC', 'NY', 'NV', 'MA', 'WI', 'NC', 'UT',
       'MO', 'CT', 'VA', 'TX', 'OH', 'NJ', 'BRITISH COLUMBIA', 'GU', 'HI',
       'ME', 'NM', 'MN', 'KY', 'PA', 'GA', 'KS', 'MI', 'NE', 'AR', 'SD',
       'OK', 'SC', 'WY', 'ONTARIO', 'ND', 'IA', 'WV', 'NH', 'VT', 'MS',
       'LA', 'RI', 'ALBERTA', 'QUEBEC', 'AE', 'AE-APO', 'AP', 'MANITOBA',
       'SASKATCHEWAN', 'PR', 'AS', 'AP-FPO', 'AP-APO', 'AE-FPO',
       'NOVA SCOTIA', 'DE', 'MP', 'AA'], dtype=object)

In [14]:
wa_cpa['City'].value_counts()

SEATTLE         3531
Seattle         2150
Tokyo           1107
BELLEVUE        1060
SPOKANE          853
                ...
ZHUBEI             1
KASHIWA-CITY       1
KOUTOU-KU          1
Evere              1
GEARHART           1
Name: City, Length: 5867, dtype: int64

In [15]:
wa_cpa['City'] = wa_cpa['City'].str.replace('Seattle', 'SEATTLE')

In [16]:
wa_cpa['City'].value_counts()

SEATTLE        5681
Tokyo          1107
BELLEVUE       1060
SPOKANE         853
TOKYO           817
               ...
Asaka             1
Saitama Ken       1
Yokohamashi       1
GUNMA             1
GEARHART          1
Name: City, Length: 5866, dtype: int64

In [17]:
wa_cpa['City'] = wa_cpa['City'].str.replace('Tokyo', 'TOKYO')
wa_cpa['City'].value_counts()

SEATTLE        5681
TOKYO          1924
BELLEVUE       1060
SPOKANE         853
Bellevue        684
               ...
Asaka             1
Saitama Ken       1
Yokohamashi       1
GUNMA             1
GEARHART          1
Name: City, Length: 5865, dtype: int64

In [18]:
wa_cpa['City'] = wa_cpa['City'].str.replace('Bellevue', 'BELLEVUE')
wa_cpa['City'].value_counts()

SEATTLE                   5681
TOKYO                     1924
BELLEVUE                  1744
SPOKANE                    853
Seoul                      684
                          ...
PYEONGTAEK GYEONGGI DO       1
Loganville                   1
POWHATAN                     1
IKSAN                        1
GEARHART                     1
Name: City, Length: 5864, dtype: int64

In [19]:
wa_cpa['City'] = wa_cpa['City'].str.replace('Seoul', 'SEOUL')
wa_cpa['City'].value_counts()

SEATTLE                   5681
TOKYO                     1924
BELLEVUE                  1744
SEOUL                     1168
SPOKANE                    853
                          ...
PYEONGTAEK GYEONGGI DO       1
Loganville                   1
POWHATAN                     1
IKSAN                        1
GEARHART                     1
Name: City, Length: 5862, dtype: int64

In [20]:
wa_cpa['City'] = wa_cpa['City'].str.upper()

In [21]:
wa_cpa['City'].value_counts()

SEATTLE                  5681
TOKYO                    1936
BELLEVUE                 1744
SPOKANE                  1355
SEOUL                    1173
                         ...
TRIER                       1
TAGUIG METRO MANILA         1
BORREGO SPRINGS             1
YOKOHAMASHI, KANAGAWA       1
SIERRA VISTA                1
Name: City, Length: 4495, dtype: int64

In [22]:
wa_cpa['City'].unique()

array(['MOUNTLAKE TERRACE', 'SNOHOMISH', 'FEDERAL WAY', ..., 'MEBANE',
       'CISCO', 'SIERRA VISTA'], dtype=object)

In [23]:
wa_cpa

,First Name,Last Name,City,State,Country,Original Issue Date,Expiration Date,Status,Board Order
License Number,,,,,,,,,
09049,Patricia,Shepard,MOUNTLAKE TERRACE,WA,United States,10/28/1983,06/30/1989,Lapsed Licensee,NaN
08741,Susan,Shephard,SNOHOMISH,WA,United States,06/24/1983,06/30/2004,Lapsed Certificateholder,NaN
43665,Benjamin,Sherrill,FEDERAL WAY,WA,United States,12/18/1953,06/30/2001,Lapsed Certificateholder,NaN
47062,Gary,Shilling,FEDERAL WAY,WA,United States,09/08/1977,06/30/2003,Retired Certificate holder,NaN
09928,Clint,Shinkle,SEABECK,WA,United States,02/22/1985,06/30/2012,Lapsed Certificateholder,NaN
...,...,...,...,...,...,...,...,...,...
05014,Albert,Carder,GEARHART,OR,United States,04/21/1977,06/30/2007,Retired Licensee,NaN
45917,Daryl,Care,BELLEVUE,WA,United States,04/18/1974,06/30/1988,Lapsed Licensee,NaN
44745,James,Carey,SEATTLE,WA,United States,10/18/1968,06/30/2003,Lapsed Certificateholder,NaN
48053,Douglas,Carlisle,SANDY,UT,United States,09/14/1979,06/30/1998,Lapsed Licensee,NaN
04172,Michael,Quam,SEATTLE,WA,United States,09/20/1974,NaN,Lapsed Licensee,NaN

In [24]:
wa_cpa['Board Order'].value_counts()

https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1417%20Waldman%20Marshall.pdf                 1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1434%20Patton%20Brad.pdf                      1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1438%20Van%20Winkle%20Paul%20J.pdf            1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1508%20Wong%20Chi%20Fai%20Ben.pdf             1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1523%20Shawn%20Mattingly.pdf                  1
                                                                                                                     ..
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1478%20Hashimoto%20Takashi.pdf                1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1466%20Uchida%20Tomohiro.pdf                  1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1472%20Lee%20David.pdf                        1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/ACB-1453%20Lim%20Samuel.pdf                       1
https://acb.wa.gov/sites/default/files/public/documents/BoardOrders/Steven%20Shimizu%20-%20Consent%20Agreement.pdf    1
Name: Board Order, Length: 73, dtype: int64

In [25]:
board_order = wa_cpa['Board Order']
board_order

License Number
09049    NaN
08741    NaN
43665    NaN
47062    NaN
09928    NaN
        ...
05014    NaN
45917    NaN
44745    NaN
48053    NaN
04172    NaN
Name: Board Order, Length: 45604, dtype: object

In [26]:
board_order = board_order.dropna()
board_order

License Number
48586    https://acb.wa.gov/sites/default/files/public/...
14669    https://acb.wa.gov/sites/default/files/public/...
17345    https://acb.wa.gov/sites/default/files/public/...
04164    https://acb.wa.gov/sites/default/files/public/...
24196    https://acb.wa.gov/sites/default/files/public/...
                               ...
18723    https://acb.wa.gov/sites/default/files/public/...
24093    https://acb.wa.gov/sites/default/files/public/...
26326    https://acb.wa.gov/sites/default/files/public/...
05585    https://acb.wa.gov/sites/default/files/public/...
04653    https://acb.wa.gov/sites/default/files/public/...
Name: Board Order, Length: 73, dtype: object

In [27]:
board_order.to_csv('/Users/marcolaureano2/Documents/GitHub/Washington_state_cpas/Data/board_order.csv')

73 of the licensees in Washington State have board order disciplinary actions

In [28]:
wa_cpa['Status'].value_counts()

Licensed to practice public accounting                                                         23091
Lapsed Licensee                                                                                10563
Lapsed Certificateholder                                                                        4528
Retired Licensee                                                                                4325
Retired Certificate holder                                                                      1903
Holds a valid CPA-Inactive certificate (not licensed to practice as a CPA)                       682
Suspended per Board Order                                                                        154
A non-CPA who is registered as an owner in a Washington CPA firm; may not use the title CPA      105
ConvertedToCPA                                                                                    97
Lapsed Registration                                                                               78
Deceased                                                                                          49
Licensed to practice Revoked per Board Order                                                      29
Name: Status, dtype: int64

In [29]:
wa_cpa['Country'].value_counts()

United States    36034
Japan             3994
Korea, South      1526
Hong Kong         1311
Canada             790
                 ...
Saint Lucia          1
Panama               1
Mauritius            1
Bermuda              1
Finland              1
Name: Country, Length: 84, dtype: int64

In [30]:
wa_cpa['Country'].unique()

array(['United States', 'Canada', 'Venezuela', 'Japan', 'Hong Kong',
       'Turkey', 'United Kingdom', 'Korea, South', 'China',
       'United Arab Emirates', 'New Zealand', 'Guatemala', 'Switzerland',
       'Taiwan', 'Pakistan', 'Australia', 'Malaysia', 'Netherlands',
       'Kenya', 'Saudi Arabia', 'Germany', 'Brazil', 'Philippines',
       'India', 'Singapore', 'Israel', 'Austria', 'Ireland', 'France',
       'Thailand', 'Spain', 'Cayman Islands', 'Belgium', 'Jamaica',
       'Qatar', 'Côte d’Ivoire', 'Vietnam', 'Saint Lucia', 'Luxembourg',
       'Jordan', 'Bahrain', 'Norway', 'Kuwait', 'Egypt', 'Bangladesh',
       'Oman', 'Bermuda', 'Lebanon', 'Mauritius', 'Panama', 'Poland',
       'South Africa', 'Kazakhstan', 'Sweden', 'Cambodia', 'Mexico',
       'Chile', 'Azerbaijan', 'Indonesia',
       'Micronesia, Federated States of', 'Cyprus', 'Antigua and Barbuda',
       'Italy', 'The Bahamas', 'Romania', 'Nigeria', 'Hungary', 'Russia',
       'Argentina', 'Congo, Republic of the', 'Trinidad and Tobago',
       'Honduras', 'Curacao', 'Aruba', 'Chad', 'Denmark', 'Malta',
       'Tanzania', 'Lithuania', 'East Timor\xa0(Timor-Leste)',
       'Czech Republic', 'Uganda', 'Barbados', 'Finland'], dtype=object)

In [31]:
wa_cpa

,First Name,Last Name,City,State,Country,Original Issue Date,Expiration Date,Status,Board Order
License Number,,,,,,,,,
09049,Patricia,Shepard,MOUNTLAKE TERRACE,WA,United States,10/28/1983,06/30/1989,Lapsed Licensee,NaN
08741,Susan,Shephard,SNOHOMISH,WA,United States,06/24/1983,06/30/2004,Lapsed Certificateholder,NaN
43665,Benjamin,Sherrill,FEDERAL WAY,WA,United States,12/18/1953,06/30/2001,Lapsed Certificateholder,NaN
47062,Gary,Shilling,FEDERAL WAY,WA,United States,09/08/1977,06/30/2003,Retired Certificate holder,NaN
09928,Clint,Shinkle,SEABECK,WA,United States,02/22/1985,06/30/2012,Lapsed Certificateholder,NaN
...,...,...,...,...,...,...,...,...,...
05014,Albert,Carder,GEARHART,OR,United States,04/21/1977,06/30/2007,Retired Licensee,NaN
45917,Daryl,Care,BELLEVUE,WA,United States,04/18/1974,06/30/1988,Lapsed Licensee,NaN
44745,James,Carey,SEATTLE,WA,United States,10/18/1968,06/30/2003,Lapsed Certificateholder,NaN
48053,Douglas,Carlisle,SANDY,UT,United States,09/14/1979,06/30/1998,Lapsed Licensee,NaN
04172,Michael,Quam,SEATTLE,WA,United States,09/20/1974,NaN,Lapsed Licensee,NaN

In [32]:
usa_filter = wa_cpa['Country'] == 'United States'

In [33]:
usa_cpa = wa_cpa[usa_filter]
usa_cpa

,First Name,Last Name,City,State,Country,Original Issue Date,Expiration Date,Status,Board Order
License Number,,,,,,,,,
09049,Patricia,Shepard,MOUNTLAKE TERRACE,WA,United States,10/28/1983,06/30/1989,Lapsed Licensee,NaN
08741,Susan,Shephard,SNOHOMISH,WA,United States,06/24/1983,06/30/2004,Lapsed Certificateholder,NaN
43665,Benjamin,Sherrill,FEDERAL WAY,WA,United States,12/18/1953,06/30/2001,Lapsed Certificateholder,NaN
47062,Gary,Shilling,FEDERAL WAY,WA,United States,09/08/1977,06/30/2003,Retired Certificate holder,NaN
09928,Clint,Shinkle,SEABECK,WA,United States,02/22/1985,06/30/2012,Lapsed Certificateholder,NaN
...,...,...,...,...,...,...,...,...,...
05014,Albert,Carder,GEARHART,OR,United States,04/21/1977,06/30/2007,Retired Licensee,NaN
45917,Daryl,Care,BELLEVUE,WA,United States,04/18/1974,06/30/1988,Lapsed Licensee,NaN
44745,James,Carey,SEATTLE,WA,United States,10/18/1968,06/30/2003,Lapsed Certificateholder,NaN
48053,Douglas,Carlisle,SANDY,UT,United States,09/14/1979,06/30/1998,Lapsed Licensee,NaN
04172,Michael,Quam,SEATTLE,WA,United States,09/20/1974,NaN,Lapsed Licensee,NaN

len(usa_cpa)

Out of the 45604 licensees, there are 36036 that are based in The United States

In [36]:
wa_filter = usa_cpa['State'] == 'WA'

In [38]:
wa_based = usa_cpa[wa_filter]

In [39]:
wa_based

,First Name,Last Name,City,State,Country,Original Issue Date,Expiration Date,Status,Board Order
License Number,,,,,,,,,
09049,Patricia,Shepard,MOUNTLAKE TERRACE,WA,United States,10/28/1983,06/30/1989,Lapsed Licensee,NaN
08741,Susan,Shephard,SNOHOMISH,WA,United States,06/24/1983,06/30/2004,Lapsed Certificateholder,NaN
43665,Benjamin,Sherrill,FEDERAL WAY,WA,United States,12/18/1953,06/30/2001,Lapsed Certificateholder,NaN
47062,Gary,Shilling,FEDERAL WAY,WA,United States,09/08/1977,06/30/2003,Retired Certificate holder,NaN
09928,Clint,Shinkle,SEABECK,WA,United States,02/22/1985,06/30/2012,Lapsed Certificateholder,NaN
...,...,...,...,...,...,...,...,...,...
45293,Wilbur,Smith,SHORELINE,WA,United States,07/15/1971,06/30/2004,Retired Certificate holder,NaN
47635,Timothy,Capogna,POULSBO,WA,United States,02/23/1979,06/30/2015,Retired Certificate holder,NaN
45917,Daryl,Care,BELLEVUE,WA,United States,04/18/1974,06/30/1988,Lapsed Licensee,NaN
44745,James,Carey,SEATTLE,WA,United States,10/18/1968,06/30/2003,Lapsed Certificateholder,NaN
04172,Michael,Quam,SEATTLE,WA,United States,09/20/1974,NaN,Lapsed Licensee,NaN

Out of the 36036 licensees that are based in the United States, 25997 are located in Washington State

In [40]:
25997 / 45604

0.5700596438908868